<h1>Big Hello again!</h1>
<p>Welcome to my open source Angular and ASP.NET single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
    <li><a href='http://getbootstrap.com/'>Visual Studio tooling</a> for layout and styling</li>
</ul>
<p>Full Stacks demo features here:</p>
<ul>
   
    <li>
        <strong>Angular Responsive</strong>.
        Angular doesn't care what's behind the backend Web API it talks to.
        Here you can see both working along with all the source code.
        This is not a another tutorial.
        <br />
        Quite soon I hope to show here the daily parts played Azure, Github and VSTS along with how 
        developer branching, database migrations, testing all come together
        to help keep things on track
 .
    </li>



    <li><strong>Server-side prerendering</strong>. 
    For faster initial loading and improved SEO, 
    this Angular app is prerendered on the server. 
    The resulting HTML is then transferred to the browser w
    here a client-side copy of the app takes over.</li>

    <li><strong>Webpack dev middleware</strong>. 
    In development mode, there's no need to run 
    the <code>webpack</code> build tool. 
    Your client-side resources are dynamically built on demand. 
    Updates are available as soon as you modify any file.</li>
    
    <li><strong>Hot module replacement</strong>. 
    In development mode, you don't even need to reload the page 
    after making most changes. Within seconds of saving changes
    to files, your Angular app will be rebuilt and a new instance
    injected into the page.</li>

    <li><strong>Efficient production builds</strong>. 
    In production mode, development-time features are disabled, 
    and the <code>webpack</code> build tool produces minified 
    static CSS and JavaScript files.</li>

    <li>
        <strong>Native and 3rd party API's</strong>.
        A mixture of consumming 3rd party API's such as Github,
        and consumming Web API's I created on .NET Core Servers and on
        Express.
    </li>

    <li>
        <strong>Unit Testing API's and UI</strong>.
        A mixture of 5 different 3rd party Unit testing frameworks are used
        covering fakes, mocks, runners client and server side.
        
    </li>



</ul>
<p>additional technologies used here ...</p>
<li><a href='http://getbootstrap.com/'>MongoDB</a> NoSQL Document store</li>
<li><a href='http://getbootstrap.com/'>Express</a> Light weight WebServer</li>
<li><a href='http://getbootstrap.com/'>Nodejs</a> Server side JavaScript Framework</li>
<li><a href='http://getbootstrap.com/'>SQL Server 2016</a> Relational Database Server</li>
<li><a href='http://getbootstrap.com/'>IIS10</a> Full featured Microsoft Web Server</li>
<li><a href='http://getbootstrap.com/'>Kestral</a> Light weight Web Server</li>


<br /><br />
Hosted on <code>Azure</code>    Source Code <code>Github</code>